<header>
    <nav>
        <a href="/">Course Evaluation</a>
        <ul>
            <li><a href="/courses">Search Course</a></li>
            <li><a href="/courses/new">Add Course</a></li>
            <li><a href="/comments">Search Comment</a></li>
            <li><a href="/comments/new">Add New Comment</a></li>
        </ul>
    </nav>
</header>